@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Lazy.Presentation.Models.Author.AuthorItemModel>

@{
    ViewData["Title"] = "Blog Authors";
}
<h1>Blog Authors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center align-middle">Avatar</th>
            <th class="text-center align-middle">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center align-middle">
                @Html.DisplayNameFor(model => model.WebUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <img src="@(string.IsNullOrEmpty(item.AvatarUrl) ? "/images/avatar-placeholder.png" : item.AvatarUrl)" class="rounded-circle" width="50" height="50">
                </td>
                <td class="text-center align-middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td class="text-center align-middle">
                @Html.DisplayFor(modelItem => item.WebUrl)
            </td>
                <td class="text-center align-middle">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



